{{ form_start(platForm) }}
{{ form_row(platForm.titreplat) }}
{{ form_row(platForm.description) }}
{{ form_row(platForm.prix) }}
{{ form_row(platForm.type) }}
<button class="btn btn-secondary" type="submit">Valider</button>
{{ form_end(platForm) }}

